.GameBoard .cell {
  min-width: 16px;
  min-height: 16px;
  font-size: 10px;
  border: 1px solid #000;
}

.GameBoard .cell-wrong {
  background-color: rgb(204, 71, 71);
}
.GameBoard .cell-correct {
  background-color: rgb(106, 207, 95);
}

.GameBoard .cell-0 {
  background-color: rgb(195, 157, 107);
}
.GameBoard .cell-1 {
  background-color: rgb(47, 138, 224);
}
.GameBoard .cell-2 {
  background-color: rgb(39, 137, 63);
}
.GameBoard .cell-3 {
  background-color: rgb(169, 197, 59);
}