.GameBoard .cell {
  width: 25px;
  height: 25px;
  border: 1px solid #000;
}

.GameBoard .cell-0 {
  background-color: rgb(169, 97, 97);
}
.GameBoard .cell-1 {
  background-color: rgb(47, 138, 224);
}
.GameBoard .cell-2 {
  background-color: rgb(39, 137, 63);
}
.GameBoard .cell-3 {
  background-color: rgb(169, 197, 59);
}