.ScoreData  span {
  font-style: italic;
  margin-right: 10px;
}

.ScoreData .final-score {
  color: green;
  font-weight: 600;
}
.ScoreData .raw-score {
  color: green;
}
.ScoreData .penalty-score {
  color: red;
}
.ScoreData .max-score {
  color: brown;
}
